{% if lastVersion is iterable %}
<a href="{{ path('version') }}">Version {{ lastVersion.number }}</a><br><small>Build {{ lastVersion.build }} - {{ lastVersion.date }}</small>
{% else %}
{{ lastVersion }}
{% endif %}