{# templates/security/register.html.twig #}

{% extends "index.html.twig" %}

{% block title %}
Connexion | {{ parent() }}
{% endblock %}

{% block css %}
<link href="{{ asset('assets/css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
<div class="page-title-heading">
    <div class="page-title-icon">
        <i class="pe-7s-power icon-gradient bg-night-sky">
        </i>
    </div>
    <div class="page-title">
        Connexion
        <div class="page-title-subheading">
            Blabla
        </div>
    </div>
</div>
{% endblock %}

{% block pageContent %}

<div class="row">
    <div class="col-md-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                    Connexion à votre compte LearnApp
                </div>
            </div>
            <div class="card-body">
                <p>
                    Veuillez compléter le formulaire suivant afin de vous connecter à votre compte LearnApp.
                </p>
                <form class="needs-validation" action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        {% if error %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-bottom: 20px;">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span class="content">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        {% for message in app.session.flashbag.get('success') %}
                        <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per mb-3" role="alert">
                            <i class="zmdi zmdi-check"></i>
                            <span class="content">{{ message }}</span>
                            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">
                                    <i class="zmdi zmdi-close-circle"></i>
                                </span>
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="username" class="required">Nom d'utilisateur</label>
                        <input name="_username" id="username" placeholder="prenom.nom" type="_username" class="form-control"{% if app.request.query is defined %} value="{{ app.request.query.get('last_username') }}"{% else %} value="{{ last_username }}"{% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="password" class="required">Mot de passe</label>
                        <input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe">
                    </div>
                    <div class="form-group">
                        <div class="custom-checkbox custom-control">
                            <input class="custom-control-input" type="checkbox" value="" id="remember_me" name="_remember_me">
                            <label class="custom-control-label" for="remember_me">
                                Se rappeler de moi
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-primary" type="submit">Se connecter</button>
                    </div>
                </form>
                <p>
                    Pas encore de compte LearnApp ? <a href="{{ path('register') }}">Créez-en un !</a>
                </p>
                <p>
                    <a href="{{ path('forgottenPass') }}">Mot de passe oublié</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}