{# templates/security/register.html.twig #}

{% extends "index.html.twig" %}

{% block title %}
Récupération de votre compte | {{ parent() }}
{% endblock %}

{% block css %}
<link href="{{ asset('assets/css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
<div class="page-title-heading">
    <div class="page-title-icon">
        <i class="pe-7s-lock icon-gradient bg-love-kiss">
        </i>
    </div>
    <div class="page-title">
        Perte du mot de passe LearnApp
        <div class="page-title-subheading">
            Saisissez l'adresse e-mail attachée à votre compte LearnApp pour envoyer la demande de changement de mot de passe.
        </div>
    </div>
</div>
{% endblock %}

{% block pageContent %}

<div class="row">
    <div class="col-md-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                    Récupération de votre compte LearnApp
                </div>
            </div>
            <div class="card-body">
                <p>
                    Veuillez compléter le formulaire suivant afin de récupérer votre compte LearnApp.
                </p>
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_errors(form) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password.first) }}
                        {{ form_errors(form.password.first) }}
                        {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                    
                        {{ form_label(form.password.second) }}
                        {{ form_errors(form.password.second) }}
                        {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}