{# templates/security/register.html.twig #}

{% extends "index.html.twig" %}

{% block title %}
Créer son compte | {{ parent() }}
{% endblock %}

{% block css %}
<link href="{{ asset('assets/css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
<div class="page-title-heading">
    <div class="page-title-icon">
        <i class="pe-7s-add-user icon-gradient bg-night-sky">
        </i>
    </div>
    <div class="page-title">
        Créer son compte
        <div class="page-title-subheading">
            Blabla
        </div>
    </div>
</div>
{% endblock %}

{% block pageContent %}

<div class="row">
    <div class="col-md-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                    Création d'un compte LearnApp
                </div>
            </div>
            <div class="card-body">
                <p>
                    Veuillez compléter le formulaire suivant afin de créer votre compte LearnApp.
                </p>
                <form class="needs-validation" action="{{ path('register') }}" method="post">
                    <div class="form-group">
                        {{ form_errors(form) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.username) }}
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username) }}
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_label(form.password.first) }}
                                {{ form_errors(form.password.first) }}
                                {{ form_widget(form.password.first) }}
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Votre mot de passe doit être d'une longueur minimale de 8 caractères et être varié.
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_label(form.password.second) }}
                                {{ form_errors(form.password.second) }}
                                {{ form_widget(form.password.second) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.birthday) }}
                        {{ form_errors(form.birthday) }}
                        {{ form_widget(form.birthday) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.school) }}
                        {{ form_errors(form.school) }}
                        {{ form_widget(form.school) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.profilImage) }}
                        {{ form_errors(form.profilImage) }}
                        {{ form_widget(form.profilImage) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.roles) }}
                        {{ form_errors(form.roles) }}
                        {{ form_widget(form.roles) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.partnerSchool) }}
                        {{ form_errors(form.partnerSchool) }}
                        {{ form_widget(form.partnerSchool) }}
                    </div>
                    <div class="form-group">
                        <div class="custom-checkbox custom-control">
                            <input class="custom-control-input" type="checkbox" value="" id="terms" required="">
                            <label class="custom-control-label" for="terms">
                                J'accepte les conditions générales de ventes et d'utilisation de LearnApp. <span class="required"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}