{# templates/forms/geobrevet/test-histoire.html.twig #}

{% use 'forms/geobrevet/test-histoire.html.twig' %}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
    {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        <p class="text-center" style="display: none;" id="{{ id }}_p"><img id="{{ id }}_i" src="" class="mt-1 mb-1 figure-img"></p>
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
        </div>
        {%- endblock form_row -%}