{# templates/security/register.html.twig #}

{% extends "index.html.twig" %}

{% block title %}
Mon compte | {{ parent() }}
{% endblock %}

{% block css %}
<link href="{{ asset('assets/css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
<div class="page-title-heading">
    <div class="page-title-icon">
        <i class="pe-7s-box2 icon-gradient bg-night-sky">
        </i>
    </div>
    <div class="page-title">
        Mes applications
        <div class="page-title-subheading">
            {{ app.user.name }}, voici les applications que nous vous proposons d'ajouter à votre compte. Vous avez encore la possibilité d'ajouter X applications à votre compte.
        </div>
    </div>
</div>
{% endblock %}

{% block pageContent %}

<div class="row">
    <div class="col-md-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                    Mise à jour de votre compte LearnApp
                </div>
            </div>
            <div class="card-body">
                <p>
                    Veuillez compléter le formulaire suivant afin de mettre à jour votre compte LearnApp.
                </p>
                <form class="needs-validation" action="{{ path('addApps') }}" method="post">
                    <div class="form-group">
                        {{ form_errors(form) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.apps) }}
                        {{ form_errors(form.apps) }}
                        {{ form_widget(form.apps) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.submit) }}
                        <button type="reset" class="btn btn-warning">Annuler les modifications</button>
                        <a href="{{ path('compte') }}" class="btn btn-danger">Annuler la mise à jour</a>
                    </div>
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}