{# templates/app/about.html.twig #}

{% extends "index.html.twig" %}

{% block title %}
Informations | {{ parent() }}
{% endblock %}

{% block css %}
{{ parent() }}
<link href="{{ asset('assets/css/notification.css') }}" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
<div class="page-title-heading">
    <div class="page-title-icon">
        <i class="pe-7s-bell icon-gradient bg-night-sky">
        </i>
    </div>
    <div class="page-title">
        Notifications
        <div class="page-title-subheading">
            Voici les notifications que LearnApp a pour vous. Vous êtes libre de les marquer comme lues ou de les supprimer une fois que vous les avez traitées.
        </div>
    </div>
</div>
{% endblock %}

{% block pageContent %}

<div class="row">
    <div class="col-md-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                    Informations LearnApp
                </div>
            </div>
            <div class="card-body">
                {% if notifications is not iterable %}
                <p>{{ notifications }}</p>
                {% else %}
                <ul class="list-group">
                {% for notification in notifications %}
                    <li class="list-group-item-notification">
                        <div id="notification-container">
                            <div class="notification notification-{{ notification.class }}{% if notification.status %} notification-read{% endif %}">
                                <div class="notification-title">{{ notification.title }}</div>
                                <div class="notification-message">{{ notification.message|raw|nl2br }}</div>
                                <div class="pt-2">{% if not notification.status %}<a class="btn btn-sm btn-outline-light" href="{{ path('notificationsAction', {'action': 'read', 'id': notification.id}) }}"><i class="pe-7s-mail-open"></i></a>{% else %}<a class="btn btn-sm btn-outline-light" href="{{ path('notificationsAction', {'action': 'unread', 'id': notification.id}) }}"><i class="pe-7s-mail"></i></a>{% endif %} &nbsp; <a class="btn btn-sm btn-outline-light" href="{{ path('notificationsAction', {'action': 'trash', 'id': notification.id}) }}"><i class="pe-7s-trash"></i></a></div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
                {% if nbPages > 0 %}
                <ul class="pagination mt-3">
                    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                    <li class="page-item{% if page == 1 or page is not defined %} disabled{% endif %}">
                        <a class="page-link" href="{{ path('informations', {'page': page - 1}) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for p in range(1, nbPages) %}
                    <li class="page-item{% if p == page %} active{% endif %}">
                        <a class="page-link{% if p == page %} active{% endif %}" href="{{ path('informations', {'page': p}) }}">{{ p }}</a>
                    </li>
                    {% endfor %}
                    <li class="page-item{% if page == nbPages %} disabled{% endif %}">
                        <a class="page-link" href="{{ path('informations', {'page': page + 1}) }}" aria-label="Previous">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}