{# templates/app/account/profil.html.twig #}

{% extends "index.html.twig" %}

{% block title %}
Mon compte | {{ parent() }}
{% endblock %}

{% block pageTitle %}
<div class="page-title-heading">
    <div class="page-title-icon">
        <i class="pe-7s-user icon-gradient bg-night-sky">
        </i>
    </div>
    <div class="page-title">
        Mon compte
        <div class="page-title-subheading">
            Consultez et gérez votre compte LearnApp depuis cette partie. Vous avez accès ici à toutes les données vous concernant et vous êtes libre de les modifier. Toute modification des données engage votre responsabilité sur leur exactitude.<br>
            Dernière connexion : {{ app.user.lastLogin|date("d/m/Y H:i:s") }} par @{{ app.user.lastIP }}
        </div>
    </div>
</div>
{% endblock %}

{% block pageContent %}

<div class="row">
    <div class="col-lg-6">
        <div class="main-card mb-3 card">
            <div class="card-header">
                <i class="header-icon pe-7s-user"> </i>
                Mon compte
                <div class="btn-actions-pane-right actions-icon-btn">
                    <a class="btn-icon btn-icon-only btn btn-link" href="{{ path('update') }}"><i class="pe-7s-config btn-icon-wrapper"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="scroll-area-sm">
                    <div class="scrollbar-container ps--active-y ps">
                        <div class="media">
                            <img src="{{ asset(app.user.profilimage) }}" width="100" class="mr-3 rounded-circle" alt="{{ app.user.name }}">
                            <div class="media-body">
                                <h5 class="mt-0">{{ app.user.name }}</h5>
                                <p class="text-muted">{{ app.user.email }}</p>
                                <p class="text-muted">{{ app.user.school }}</p>
                            </div>
                        </div>
                        <p class="mt-3 text-muted">Date de naissance : {{ app.user.birthday|date("d/m/Y") }}</p>
                        {% if app.user.partnerSchool is not null %}
                        <p class="text-muted">
                            <span class="card-title">Code RNE de l'établissement partenaire d'inscription</span><br>{{ app.user.partnerSchool }}
                        </p>
                        {% endif %}
                        <p>
                            <span class="card-title">Abonnement</span>
                            {% if "ROLE_USER-PLUS" in app.user.roles %}
                                <ul class="list-group"><li class="list-group-item-info list-group-item">LearnApp Classic+</li></ul> 
                            {% elseif "ROLE_USER-PREMIUM" in app.user.roles %}
                                <ul class="list-group"><li class="list-group-item-warning list-group-item">LearnApp Premium{% if app.user.paiementStatus == 0 %} (essai){% endif %}</li></ul>
                            {% else %}
                                <ul class="list-group"><li class="list-group-item-secondary list-group-item">LearnApp Classic{% if app.user.paiementStatus == 0 %} (essai){% endif %}</li></ul>
                            {% endif %}
                        </p>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; height: 200px; right: 0px;">
                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 55px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            {# <div class="d-block text-right card-footer">
                <button class="mr-2 btn btn-link btn-sm">Cancel</button>
                <button class="btn btn-success btn-lg">Save</button>
            </div> #}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="main-card mb-3 card">
            <div class="card-header">
                <i class="header-icon pe-7s-box2"> </i>
                Mes applications
                <div class="btn-actions-pane-right actions-icon-btn">
                    <a class="btn-icon btn-icon-only btn btn-link" href="{{ path('addApps') }}"><i class="pe-7s-plus btn-icon-wrapper"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="scroll-area-sm">
                    <div class="scrollbar-container ps--active-y ps">
                        <p>
                            <ul class="list-group list-group-flush">
                                {% if app.user.apps is not empty %}
                                {% for appli in app.user.apps %}
                                    <li class="list-group-item">
                                        {{ appli }}
                                        <form class="float-right" action="{{ path('deleteApp', {appname: appli}) }}" method="POST">
                                            {# <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}" /> #}
                                            <button class="btn p-0 text-danger" type="submit" name="deleteButton">
                                                <i class="fas fa-trash" class="text-white"></i>
                                            </button>
                                        </form>
                                        {# <a class="float-right" href="{{ path('deleteApp', {appname: appli}) }}"><i class="fas fa-trash text-danger"></i></a></li> #}
                                {% endfor %}
                                {% else %}
                                    <li class="list-group-item text-center"><a href="{{ path('addApps') }}">Ajouter des applications</a></li>
                                {% endif %}
                            </ul>
                        </p>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; height: 200px; right: 0px;">
                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 55px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            {# <div class="d-block text-right card-footer">
                <button class="mr-2 btn btn-link btn-sm">Cancel</button>
                <button class="btn btn-success btn-lg">Save</button>
            </div> #}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="main-card mb-3 card">
            <div class="card-header">
                <i class="header-icon pe-7s-credit"> </i>
                Mes paiements
                <div class="btn-actions-pane-right actions-icon-btn">
                    <a class="btn-icon btn-icon-only btn btn-link" href="#"><i class="pe-7s-info btn-icon-wrapper"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="scroll-area-sm">
                    <div class="scrollbar-container ps--active-y ps">
                        <p>
                            État du paiement :{% if app.user.paiementStatus == 1 %}<span class="ml-2 badge badge-pill badge-success">VALIDÉ</span><br>{% else %}<span class="ml-2 badge badge-pill badge-danger">EN ATTENTE DE PAIEMENT</span>{% endif %}
                            {% if app.user.paiementStatus == 1 %}
                            Date du paiement : {{ app.user.paiementDate|date("d/m/Y") }}
                            {% endif %}
                        </p>
                        {% if app.user.paiementType != "free" %}
                        <p class="font-weight-bold">
                            Prochaine échéance :
                            {% if app.user.paiementType == "month" %}
                                {{ app.user.paiementDate|date_modify("+1 month")|date("d/m/Y") }}
                                {% include 'app/account/avertissement_echeance.html.twig' %}
                            {% elseif app.user.paiementType == "year" %}
                                {{ app.user.paiementDate|date_modify("+1 year")|date("d/m/Y") }}
                                {% include 'app/account/avertissement_echeance.html.twig' %}
                            {% else %}
                                {{ app.user.paiementDate|date_modify("+2 week")|date("d/m/Y") }}
                                {% include 'app/account/avertissement_echeance.html.twig' %}
                            {% endif %}
                        </p>
                        {% endif %}
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; height: 200px; right: 0px;">
                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 55px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            {# <div class="d-block text-right card-footer">
                <button class="mr-2 btn btn-link btn-sm">Cancel</button>
                <button class="btn btn-success btn-lg">Save</button>
            </div> #}
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
{{ parent() }}

<!-- Jquery JS-->
<script src="https://esirem.nicolas-t.ovh/vendor/jquery-3.2.1.min.js"></script>
<script src="https://esirem.nicolas-t.ovh/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<script type="text/javascript">
    $('button[name="deleteButton"]').on('click', function (e) {
        var $form = $(this).closest('form');
        e.preventDefault();
        $('#confirm').modal({
                backdrop: 'static',
                keyboard: false
            })
            .on('click', '#delete', function (e) {
                $form.trigger('submit');
            });
    });
</script>
{% endblock %}

{% block modal %}
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white" id="smallmodalLabel">Suppression d'une application</h5>
            </div>
            <div class="modal-body">
                <p>
                    Êtes-vous certain de vouloir supprimer cette application de votre compte ? Cette action est irréversible !
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" id="delete">Confirmer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}