{% if "geobrevet" in app.user.apps %}
<li class="app-sidebar__heading">GéoBrevet</li>
<li>
    <a href="{{ path('geobrevet_index') }}" id="my-geobrevet">
        <i class="metismenu-icon pe-7s-home"></i>
        Mon GéoBrevet
    </a>
</li>
<li>
    <a href="#">
        <i class="metismenu-icon pe-7s-culture"></i>
        Histoire
        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
    </a>
    <ul>
        <li>
            <a href="#">
                <i class="metismenu-icon"></i>
                Apprentissage
                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
            </a>
            <ul>
                <li>
                    <a href="{{ path('geobrevet_learn', {discipline: "histoire", content: "6eme"}) }}" id="my-geobrevet-6eme">
                        <i class="metismenu-icon">
                        </i>Niveau 6<sup>ème</sup>
                    </a>
                </li>
                <li>
                    <a href="{{ path('geobrevet_learn', {discipline: "histoire", content: "5eme"}) }}" id="my-geobrevet-5eme">
                        <i class="metismenu-icon">
                        </i>Niveau 5<sup>ème</sup>
                    </a>
                </li>
                <li>
                    <a href="{{ path('geobrevet_learn', {discipline: "histoire", content: "4eme"}) }}" id="my-geobrevet-4eme">
                        <i class="metismenu-icon">
                        </i>Niveau 4<sup>ème</sup>
                    </a>
                </li>
                <li>
                    <a href="{{ path('geobrevet_learn', {discipline: "histoire", content: "3eme"}) }}" id="my-geobrevet-3eme">
                        <i class="metismenu-icon">
                        </i>Niveau 3<sup>ème</sup>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="metismenu-icon"></i>
                S'entraîner
                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
            </a>
            <ul>
                <li>
                    <a href="#" id="my-geobrevet-11">
                        <i class="metismenu-icon">
                        </i>Repères historiques (6<sup>ème</sup>-3<sup>ème</sup>)
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>
<li>
    <a href="#">
        <i class="metismenu-icon pe-7s-world"></i>
        Géographie
        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
    </a>
    <ul>
        <li>
            <a href="#">
                <i class="metismenu-icon"></i>
                Apprentissage
                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
            </a>
            <ul>
                <li>
                    <a href="#">
                        <i class="metismenu-icon">
                        </i>Les grands foyers de peuplement
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon">
                        </i>Les trois mégalopoles mondiales
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon">
                        </i>Les grands types de reliefs
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon">
                        </i>Les climats du monde
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon">
                        </i>Les migrations à l'échelle mondiale
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon">
                        </i>Le tourisme mondial
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon">
                        </i>Les pays dans la mondialisation
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon">
                        </i>Les capitales et pays européens
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon">
                        </i>La France administrative
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon">
                        </i>Les climats français
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon">
                        </i>Les reliefs français
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon">
                        </i>La francophonie
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="metismenu-icon"></i>
                S'entraîner
                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
            </a>
            <ul>
                <li>
                    <a href="#">
                        <i class="metismenu-icon">
                        </i>Les capitales et pays européens
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>
{% endif %}