{# templates/app/geobrevet/content-histoire.html.twig #}

{% extends "app/app.html.twig" %}

{% block pageContent %}
<div class="row">
    <div class="col-md-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                    {{ content.title }}
                </div>
            </div>
            <div class="card-body">
                <h2 class="mb-3">Repères historiques</h2>
                <p>
                    Voici les différentes repères historiques que vous devez connaître pour le diplôme national du Brevet pour le niveau {{ content.niveau }} de votre scolarité :
                    <ul class="list-group">
                        {% for repere in content.reperes %}
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading text-primary font-weight-bold">
                                    {{ repere.evenement }}
                                </h5>
                                <p class="list-group-item-text font-weight-bold">
                                    {{ repere.date }}
                                </p>
                                <p class="list-group-item-text">
                                    {{ repere.details }}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </p>
                <h2>Frise chronologique récapitulative</h2>
                <p class="text-center">
                    <img class="mt-3 mb-3 figure-img" src="{{ asset(content.frise.image) }}"><br>
                    {{ content.frise.legende|raw }}<br><span class="text-muted" style="font-size: x-small;">&copy; {{ content.frise.date }} LearnApp. Tous drois réservés.</span>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}