{# templates/app/geobrevet/test.html.twig #}

{% extends "index.html.twig" %}

{% block title %}
{{ content.title }} - {{ appDetails.appName }} | {{ parent() }}
{% endblock %}

{% block css %}
<link href="{{ asset('assets/css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
<div class="page-title-heading">
    <div class="page-title-icon">
        <i class="pe-7s-hourglass icon-gradient bg-love-kiss">
        </i>
    </div>
    <div class="page-title">
        {{ content.title }}
        <div class="page-title-subheading">
            Test {{ content.test|upper }} &star; Version {{ content.version }} &mdash; Mis à jour le {{ content.revision }})<br>
            Application {{ appDetails.appName }} &mdash; Version {{ appDetails.appVersion }}
        </div>
    </div>
</div>
{% endblock %}

{% block pageContent %}
<div class="row">
    <div class="col-md-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                    {{ content.title }}
                </div>
                <div class="btn-actions-pane-right">
                    Temps restant : <span id="counter"></span>
                </div>
            </div>
            <div class="card-body">
                Complétez les questions suivantes et cliquez sur valider :
                <form class="questionnaire" method="post">
                    {% form_theme form 'forms/geobrevet/test-'~content.discipline~'.html.twig' %}
                    <div class="form-group">
                        {{ form_errors(form) }}
                    </div>
                    {{ form_rest(form) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Corriger le questionnaire</button>
                        <button type="reset" class="btn btn-warning">Remettre à zéro le questionnaire</button>
                        <a href="{{ path('geobrevet_index') }}" class="btn btn-danger">Annuler le questionnaire</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="{{ asset('assets/scripts/timer.js') }}"></script>
    <script> window.onload = function () { compteur = document.getElementById('counter'); startTimer({{ content.duree }}, compteur); };</script>
    {% if content.discipline == "geographie" %}
        <script type="text/javascript" src="{{ asset('assets/scripts/geobrevet-geographie.js') }}"></script>
        <script>readJsonFile("/assets/datas/geobrevet/test/{{ content.test }}.json", (content) => actJson(content));</script>
    {% endif %}
{% endblock %}

{% block modal %}
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title text-white" id="smallmodalLabel">Temps restant faible !</h5>
            </div>
            <div class="modal-body">
                <p>
                    Attention, il ne vous reste plus que <span id="time" class="text-danger font-weight-bold"></span> minutes avant la validation de vos réponses !
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Continuer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}