{# email/contact.html.twig #}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Plateforme LearnApp - Mot de passe perdu</title>
    <link href="{{ absolute_url(asset('assets/css/main.css')) }}" rel="stylesheet">
    <style>
        body {
            background: #d3d3d3;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>
</head>

<body>
</body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row p-5">
                        <div class="col-md-6">
                            <img src="{{ absolute_url(asset('assets/images/favicon.png')) }}" height="100px" class="rounded">
                        </div>
                        
                        <div class="col-md-6">
                            <p class="font-weight-bold mb-1 text-right">Récupération de compte LearnApp</p>
                            <p class="text-right">Demande du {{ "now"|date("d/m/Y H:i" )}}</p>
                            <p class="text-right">Par {{ user.name }} {% if user.school is not null %}({{ user.school }}){% endif %}</p>
                        </div>
                    </div>
                    <div class="row p-5">
                        <div class="col-md-12">
                            <p class="mb-3">Object : <span class="font-weight-bold">Récupération de votre compte LearnApp</span></p>
                            <p class="mb-3">
                                Bonjour {{ user.name }},<br>
                                Vous avez perdu votre mot de passe correspondant à l'identifiant {{ user.username }}. Vous pouvez <a href="{{absolute_url(path('resettingPassword', {'username': user.username, 'token': user.token}))}}">changer le mot de passe</a> en suivant ce lien valide 24h à partir du {{ user.passwordRequestedAt|date("d/m/Y H:i") }}.
                            </p>
                            <p>
                                Bien cordialement,<br>
                                Le Support
                            </p>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-md-12">
                            <p class="text-center text-muted small">Ce message a été envoyé automatiquement à la demande du client {{ client }}. Merci de ne pas y répondre.<br>
                                <span class="text-danger">Si vous n'avez pas demandé de réinitialisation de votre mot de passe, <a href="{{absolute_url(path('support'))}}#contactHelpTab">contactez le Support</a> le plus rapidement possible ! C'est peut-être une tentative de piratage.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3 text-center small">&copy; 2020 Nicolas TOURRETTE. Tous droits réservés.<br>Plateforme LearnApp &mdash; Apprentissage en ligne<br><img src="{{ absolute_url(asset('assets/images/logo-white.png')) }}" class="text-center mt-3" height="100px"></div>
</div>

</html>